@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .img-clip{
    clip-path: polygon(calc(50% - 6vw) 0, 100% 0, 100% 100%, 0 100%);
  }
  .img-clip-reverse{
    clip-path: polygon(0 0, calc(50% - -6vw) 0%, 100% 100%, 0 100%);
  }
}

/* html,body{
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important
}

body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important
} */

#bodyEle{
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important
}

/* Removes input history styling */

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}


/* For date picker */
.react-datepicker__input-container{
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 8px;
  outline: none;
  border: 1px solid rgb(255 255 255 / 0.5);
  margin-top: 0.5rem;
  padding: 12px;
  border-radius: 6px;
}

.react-datepicker__calendar-icon{
  position: relative !important;
  padding: 0px !important;
}

.react-datepicker__view-calendar-icon input{
  padding: 0px !important;
}