@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .img-clip{
    clip-path: polygon(calc(50% - 6vw) 0, 100% 0, 100% 100%, 0 100%);
  }
  .img-clip-reverse{
    clip-path: polygon(0 0, calc(50% - -6vw) 0%, 100% 100%, 0 100%);
  }
}

/* html,body{
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important
}

body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important
} */

#bodyEle{
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important
}

/* Removes input history styling */

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}